### Loading and inspecting dataset

In [3]:
#import pandas as pd
import pandas as pd

In [5]:
#read the csv file 
filepath = "DataFiles/global_unemployment_data.csv"
df = pd.read_csv(filepath)

In [7]:
#Load the first rows 
df.head()

,country_name,indicator_name,sex,age_group,age_categories,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Afghanistan,Unemployment rate by sex and age,Female,15-24,Youth,13.340,15.974,18.570,21.137,20.649,20.154,21.228,21.640,30.561,32.200,33.332
1,Afghanistan,Unemployment rate by sex and age,Female,25+,Adults,8.576,9.014,9.463,9.920,11.223,12.587,14.079,14.415,23.818,26.192,28.298
2,Afghanistan,Unemployment rate by sex and age,Female,Under 15,Children,10.306,11.552,12.789,14.017,14.706,15.418,16.783,17.134,26.746,29.193,30.956
3,Afghanistan,Unemployment rate by sex and age,Male,15-24,Youth,9.206,11.502,13.772,16.027,15.199,14.361,14.452,15.099,16.655,18.512,19.770
4,Afghanistan,Unemployment rate by sex and age,Male,25+,Adults,6.463,6.879,7.301,7.728,7.833,7.961,8.732,9.199,11.357,12.327,13.087

In [9]:
#check the number of rows and columns in our dataset
df.shape

(1134, 16)

In [11]:
#Check the column names
df.columns

Index(['country_name', 'indicator_name', 'sex', 'age_group', 'age_categories',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022',
       '2023', '2024'],
      dtype='object')

In [13]:
#Check the values
df.values

array([['Afghanistan', 'Unemployment rate by sex and age', 'Female', ...,
        30.561, 32.2, 33.332],
       ['Afghanistan', 'Unemployment rate by sex and age', 'Female', ...,
        23.818, 26.192, 28.298],
       ['Afghanistan', 'Unemployment rate by sex and age', 'Female', ...,
        26.746, 29.193, 30.956],
       ...,
       ['Zimbabwe', 'Unemployment rate by sex and age', 'Male', ...,
        13.966, 13.675, 13.485],
       ['Zimbabwe', 'Unemployment rate by sex and age', 'Male', ...,
        6.858, 6.757, 6.703],
       ['Zimbabwe', 'Unemployment rate by sex and age', 'Male', ...,
        8.842, 8.713, 8.632]], dtype=object)

In [15]:
#statistical summary of the dataset
df.describe()

,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
count,1134.000000,1134.000000,1134.000000,1134.000000,1134.000000,1134.000000,1134.000000,1134.000000,1128.000000,1122.000000,1122.000000
mean,11.387800,11.272444,11.122963,10.863516,10.516499,10.311452,11.851285,11.422645,10.340361,9.985181,9.940089
std,11.119002,10.915942,10.742947,10.640980,10.527773,10.297952,11.231580,10.873412,10.264810,9.987778,9.977512
min,0.027000,0.034000,0.038000,0.035000,0.044000,0.036000,0.056000,0.064000,0.067000,0.063000,0.060000
25%,3.933500,3.993500,3.945250,3.747500,3.672750,3.538500,4.334500,4.153500,3.555250,3.477500,3.459750
50%,7.697500,7.547500,7.504500,7.140500,6.706000,6.627500,8.067500,7.542500,6.571500,6.466000,6.364000
75%,15.050750,14.766250,14.467500,14.142000,13.343000,13.285500,15.316250,14.881500,13.410000,12.914500,12.687750
max,74.485000,74.655000,74.720000,75.416000,76.395000,77.173000,83.990000,82.135000,78.776000,78.541000,78.644000

### Data Cleaning

In [20]:
#Checking for null values
df.isnull().sum()

country_name       0
indicator_name     0
sex                0
age_group          0
age_categories     0
2014               0
2015               0
2016               0
2017               0
2018               0
2019               0
2020               0
2021               0
2022               6
2023              12
2024              12
dtype: int64

In [46]:
#Drop null values
df= df.dropna()

In [48]:
df.isnull().sum()

country_name      0
indicator_name    0
sex               0
age_group         0
age_categories    0
2014              0
2015              0
2016              0
2017              0
2018              0
2019              0
2020              0
2021              0
2022              0
2023              0
2024              0
dtype: int64

In [54]:
#Check for duplicates
df[df.duplicated()]

Empty DataFrame
Columns: [country_name, indicator_name, sex, age_group, age_categories, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
Index: []

In [80]:
#Check data type
df.dtypes

country_name       object
sex                object
age_group          object
age_categories     object
2014              float64
2015              float64
2016              float64
2017              float64
2018              float64
2019              float64
2020              float64
2021              float64
2022              float64
2023              float64
2024              float64
dtype: object

In [76]:
#drop column
df=df.drop(columns = ["indicator_name"])

In [78]:
df

,country_name,sex,age_group,age_categories,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Afghanistan,Female,15-24,Youth,13.340,15.974,18.570,21.137,20.649,20.154,21.228,21.640,30.561,32.200,33.332
1,Afghanistan,Female,25+,Adults,8.576,9.014,9.463,9.920,11.223,12.587,14.079,14.415,23.818,26.192,28.298
2,Afghanistan,Female,Under 15,Children,10.306,11.552,12.789,14.017,14.706,15.418,16.783,17.134,26.746,29.193,30.956
3,Afghanistan,Male,15-24,Youth,9.206,11.502,13.772,16.027,15.199,14.361,14.452,15.099,16.655,18.512,19.770
4,Afghanistan,Male,25+,Adults,6.463,6.879,7.301,7.728,7.833,7.961,8.732,9.199,11.357,12.327,13.087
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1129,Zimbabwe,Female,25+,Adults,4.262,4.586,4.773,4.900,5.027,5.309,6.345,7.792,7.704,7.597,7.528
1130,Zimbabwe,Female,Under 15,Children,5.174,5.666,6.014,6.289,6.555,6.990,8.494,9.853,9.670,9.518,9.414
1131,Zimbabwe,Male,15-24,Youth,6.007,7.131,8.119,9.029,9.927,11.048,13.191,14.261,13.966,13.675,13.485
1132,Zimbabwe,Male,25+,Adults,3.677,4.325,4.843,5.287,5.722,6.362,6.996,7.234,6.858,6.757,6.703
1133,Zimbabwe,Male,Under 15,Children,4.355,5.152,5.821,6.410,6.984,7.760,8.809,9.223,8.842,8.713,8.632

In [92]:
#check outliers for each years(2014)
q3 = df["2014"].quantile(0.75)
q1 = df["2014"].quantile(0.25)

iqr= q3-q1

upper_bound = q3 + 1.5 *iqr
lower_bound = q1 - 1.5 * iqr

print(upper_bound)
print(lower_bound)

26.011000000000003
-9.653

In [88]:
#remove outliers
df = df[(df["2014"]>= lower_bound) & (df["2014"]<=upper_bound)]

In [100]:
#check outliers for each years(2014)
q3 = df["2015"].quantile(0.75)
q1 = df["2015"].quantile(0.25)

iqr= q3-q1

upper_bound = q3 + 1.5 *iqr
lower_bound = q1 - 1.5 * iqr

print(upper_bound)
print(lower_bound)

df = df[(df["2015"]>= lower_bound) & (df["2015"]<=upper_bound)]

23.808
-8.392000000000001

In [104]:
#check outliers for each years(2015)
q3 = df["2015"].quantile(0.75)
q1 = df["2015"].quantile(0.25)

iqr= q3-q1

upper_bound = q3 + 1.5 *iqr
lower_bound = q1 - 1.5 * iqr

print(upper_bound)
print(lower_bound)

#remove outliers
df = df[(df["2015"]>= lower_bound) & (df["2015"]<=upper_bound)]

23.4695
-8.2945

In [108]:
#check outliers for each years(2016)
q3 = df["2016"].quantile(0.75)
q1 = df["2016"].quantile(0.25)

iqr= q3-q1

upper_bound = q3 + 1.5 *iqr
lower_bound = q1 - 1.5 * iqr

print(upper_bound)
print(lower_bound)

#remove outliers
df = df[(df["2016"]>= lower_bound) & (df["2016"]<=upper_bound)]

22.5175
-7.734500000000001

In [110]:
#check outliers for each years(2017)
q3 = df["2017"].quantile(0.75)
q1 = df["2017"].quantile(0.25)

iqr= q3-q1

upper_bound = q3 + 1.5 *iqr
lower_bound = q1 - 1.5 * iqr

print(upper_bound)
print(lower_bound)

#remove outliers
df = df[(df["2017"]>= lower_bound) & (df["2017"]<=upper_bound)]

21.098999999999997
-7.084999999999999

In [112]:
#check outliers for each years(2018)
q3 = df["2018"].quantile(0.75)
q1 = df["2018"].quantile(0.25)

iqr= q3-q1

upper_bound = q3 + 1.5 *iqr
lower_bound = q1 - 1.5 * iqr

print(upper_bound)
print(lower_bound)

#remove outliers
df = df[(df["2018"]>= lower_bound) & (df["2018"]<=upper_bound)]

20.04375
-6.7902499999999995

In [114]:
#check outliers for each years(2019)
q3 = df["2019"].quantile(0.75)
q1 = df["2019"].quantile(0.25)

iqr= q3-q1

upper_bound = q3 + 1.5 *iqr
lower_bound = q1 - 1.5 * iqr

print(upper_bound)
print(lower_bound)

#remove outliers
df = df[(df["2019"]>= lower_bound) & (df["2019"]<=upper_bound)]

19.265750000000004
-6.414250000000003

In [116]:
#check outliers for each years(2020)
q3 = df["2020"].quantile(0.75)
q1 = df["2020"].quantile(0.25)

iqr= q3-q1

upper_bound = q3 + 1.5 *iqr
lower_bound = q1 - 1.5 * iqr

print(upper_bound)
print(lower_bound)

#remove outliers
df = df[(df["2020"]>= lower_bound) & (df["2020"]<=upper_bound)]

21.797625
-6.857375000000001

In [118]:
#check outliers for each years(2021)
q3 = df["2021"].quantile(0.75)
q1 = df["2021"].quantile(0.25)

iqr= q3-q1

upper_bound = q3 + 1.5 *iqr
lower_bound = q1 - 1.5 * iqr

print(upper_bound)
print(lower_bound)

#remove outliers
df = df[(df["2021"]>= lower_bound) & (df["2021"]<=upper_bound)]

20.894124999999995
-6.462874999999998

In [130]:
#check outliers for each years(2022)
q3 = df["2022"].quantile(0.75)
q1 = df["2022"].quantile(0.25)

iqr= q3-q1

upper_bound = q3 + 1.5 *iqr
lower_bound = q1 - 1.5 * iqr

print(upper_bound)
print(lower_bound)

#remove outliers
df = df[(df["2022"]>= lower_bound) & (df["2022"]<=upper_bound)]

16.207
-4.689

In [132]:
#check outliers for each years(2023)
q3 = df["2023"].quantile(0.75)
q1 = df["2023"].quantile(0.25)

iqr= q3-q1

upper_bound = q3 + 1.5 *iqr
lower_bound = q1 - 1.5 * iqr

print(upper_bound)
print(lower_bound)

#remove outliers
df = df[(df["2023"]>= lower_bound) & (df["2023"]<=upper_bound)]

15.318000000000001
-4.314

In [134]:
#check outliers for each years(2024)
q3 = df["2024"].quantile(0.75)
q1 = df["2024"].quantile(0.25)

iqr= q3-q1

upper_bound = q3 + 1.5 *iqr
lower_bound = q1 - 1.5 * iqr

print(upper_bound)
print(lower_bound)

#remove outliers
df = df[(df["2024"]>= lower_bound) & (df["2024"]<=upper_bound)]

15.409125
-4.4258750000000004

In [138]:
#check the remaining number of rows
df.shape

(878, 15)